Repository treyhunner/uvrs: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-code, lint-docs, typecheck, format-code, format-docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: lint-code
        name: Lint code with ruff
        entry: just _lint-code
        language: system
        pass_filenames: true
        types: [python]

      - id: lint-docs
        name: Lint markdown with rumdl
        entry: just _lint-docs
        language: system
        pass_filenames: true
        types: [markdown]

      - id: typecheck
        name: Type check with ty
        entry: just _typecheck
        language: system
        pass_filenames: false
        types: [python]

      - id: format-code
        name: Format code with ruff
        entry: just _format-code
        language: system
        pass_filenames: true
        types: [python]

      - id: format-docs
        name: Format markdown with rumdl
        entry: just _format-docs
        language: system
        pass_filenames: true
        types: [markdown]

New version now with auto-syncing 🪂
  pyproject.toml
  uv.lock
Due: none

Document autosync
  README.md
Due: lint-docs, format-docs

Clean up previous build files on each new build
  justfile
Due: none

Support timestamping with exclude-newer
  README.md
  pyproject.toml
  src/uvrs/__init__.py
  tests/test_uvrs.py
  uv.lock
Due: lint-code, lint-docs, typecheck, format-code, format-docs

Use Black/ruff's default 88 character line length
  pyproject.toml
  src/uvrs/__init__.py
  tests/test_uvrs.py
Due: lint-code, typecheck, format-code

Improve explanation of purpose/usage in README
  README.md
Due: lint-docs, format-docs

Add a section explaining why this exists
  README.md
Due: lint-docs, format-docs

Remove primary usage and describe each command
  README.md
Due: lint-docs, format-docs

New version for updated README
  pyproject.toml
  uv.lock
Due: none

New version with exclude-newer
  pyproject.toml
  uv.lock
Due: none

Sync on run instead of add/remove
  README.md
  src/uvrs/__init__.py
  tests/test_uvrs.py
Due: lint-code, lint-docs, typecheck, format-code, format-docs

Shorten overall summary and note uv run in readme
  README.md
Due: lint-docs, format-docs

Release new version that exact syncs on run
  pyproject.toml
  uv.lock
Due: none

Add more details on uv issues to readme
  README.md
Due: lint-docs, format-docs

Simplify uv build cleaning
  justfile
  pyproject.toml
Due: none

Preserve trailing newlines on fix
  src/uvrs/__init__.py
  tests/test_uvrs.py
Due: lint-code, typecheck, format-code

Add `uvrs python` command
  README.md
  src/uvrs/__init__.py
  tests/test_uvrs.py
Due: lint-code, lint-docs, typecheck, format-code, format-docs

Monkey patch subprocess directly
  tests/test_uvrs.py
Due: lint-code, typecheck, format-code

Add `uvrs pip` command
  README.md
  src/uvrs/__init__.py
  tests/test_uvrs.py
Due: lint-code, lint-docs, typecheck, format-code, format-docs

Release new version with `pip` and `python` commands
  pyproject.toml
  uv.lock
Due: none
